<h1><%= @order.user.email %></h1>
<h1>Your Order is: <%= @order.id %></h1>


<h2> Subtotal:<%= number_to_currency(@order.subtotal) %></h2>
<h2> Tax:<%= number_to_currency(@order.tax) %></h2>
<hr>
<h2> Total:<%= number_to_currency(@order.total) %></h2>

<%= @order.carted_fishes.each do |carted_fish| %>
  <h2><%= carted_fish.fish.name %> - Qty: <%= carted_fish.quantity %></h2>

<% end %>




