<h1> All Fish Avaiable For Purchase</h1>

<div class="row">
  <% @fishes.each do |fish| %>
    <div class="col-md-2 list-view">
    <div class="thumbnail">
      <h3><a href="/fishes/<%= fish.id %>"><%= fish.name %></a></h3>
      <h3><%= fish.price %></h3>
      
      <h3><%= fish.description %></h3>
      <%= image_tag fish.image, width: 300, class: "image-responsive" %>
    </div>
  </div>
  <% end %>
</div>